*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: heading;
}
@font-face {
    font-family: heading;
    src: url(/website/fonts/Roboto-Regular.ttf);
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(114, 176, 167);
}img{
    width: 400px;
    border-radius: 30px;
    margin: 30px 0px;
}

.ip{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    margin: 20px 0px;
    font-size: 16px;
    border: none;
}
.signup{
    width: 100%;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 30px;
    margin: 20px 0px;
    color: white;
    background-color: blue;
    border: none;
}
h2{
    font-size: 36px;
    color: rgb(28, 26, 26);
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.buttons button{
    font-size: 18px;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
}
.fb i{
    margin-right: 5px;
    color: blue;
}
.google i{
    margin-right: 5px;
    color: blue;
}
input::placeholder{
    color: black;
}
.input-box{
    width: 100%;
    position: relative;
}
.input-box i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-50%);
}
input:focus{
    outline: none;
}
